<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<button class="btn btn-primary"><%= link_to 'Edit', edit_user_path(@user),class: "button" %></button>
<button class="btn btn-primary"><%= link_to 'Back', users_path, class: "button"%></button>
